In [5]:
import sys
sys.path.append("/anaconda/lib/python2.7/site-packages")

import numpy as np
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.cm as cmx
import matplotlib.colors as colors
%matplotlib inline

#  CALCULATING TOTAL TAXES FOR 2015-16 FISCAL YEAR

In [1]:
# we have most jsons, so we can just look at their json files
wanted_jsons = ["2015-04-01", "2015-05-01", "2015-06-01", "2015-08-01", "2015-09-01", "2015-10-01", "2015-11-01",\
                "2015-12-02", "2016-01-01", "2016-02-02", "2016-04-03", "2016-05-02", "2016-06-02"]

# two files are missing, so we'll take the means of the months around them
missing_months_dict = {}
missing_months_dict["2015-07-01"] = ("2015-06-01", "2015-08-01")
missing_months_dict["2016-03-01"] = ("2016-02-02", "2016-04-03")

In [33]:
# for the data we do have, sum over categories for city and state
city_taxes_by_date = {}
state_taxes_by_date = {}
for wanted in wanted_jsons:
    df = pd.read_json("data/json_files_by_date/" + wanted + ".json")
    city_taxes_by_date[wanted] = sum(df["tax_NYC_sales"]) + sum(df["tax_hotel_occupancy"])
    state_taxes_by_date[wanted] = sum(df["tax_javits"]) + sum(df["tax_mctd"]) + sum(df["tax_state_sales"])

In [34]:
# for missing files, get the values around them
for date in missing_months_dict.keys():
    city_taxes_by_date[date] = 0.5*(city_taxes_by_date[missing_months_dict[date][0]] + city_taxes_by_date[missing_months_dict[date][1]])
    state_taxes_by_date[date] = 0.5*(state_taxes_by_date[missing_months_dict[date][0]] + state_taxes_by_date[missing_months_dict[date][1]])
    
# write results to csv
with open("hi.csv", "w") as f:
    f.write("date, city, state\n")
    for date in sorted(city_taxes_by_date.keys()):
        f.write(date+ "," +str(city_taxes_by_date[date])+ "," + str(state_taxes_by_date[date]) + "\n")
f.close()

In [6]:
dfiles = [x for x in os.listdir("data/json_files_by_date/") if "-" in x]

In [48]:
thing = pd.read_json("data/json_files_by_date/2015-03-01.json")

In [50]:
thing.columns

Index([u'accommodates', u'bathrooms', u'bedrooms', u'borough',
       u'calculated_host_listings_count', u'collected', u'date', u'host_id',
       u'host_location', u'illegal', u'latitude', u'longitude', u'min_stay',
       u'neighborhood', u'num_reviews', u'price', u'property_type', u'rating',
       u'room_id', u'room_type', u'source', u'tax_NYC_sales',
       u'tax_hotel_occupancy', u'tax_javits', u'tax_mctd', u'tax_state_sales',
       u'tax_total'],
      dtype='object')

In [53]:
thing["room_type"].unique()

array([u'Entire home/apt', u'Private room', u'Shared room'], dtype=object)

In [63]:
len(thing[thing['illegal'] == thing['illegal']])/float(len(thing))

1.0

In [7]:
cat_variables = ["illegal","room_type"]
cont_variables = ["price"]

all_var_values = {}
for var in cat_variables:
    all_var_values[var] = set()

In [9]:
for fname in dfiles:
    df = pd.read_json("data/json_files_by_date/" + fname)
    for var in cat_variables:
        for item in df[var].unique():
            all_var_values[var].add(item)

In [18]:
for var in all_var_values.keys():
    for idx,item in enumerate(sorted(all_var_values[var])):
        print idx, item

0 0
1 1
0 Entire home/apt
1 Private room
2 Shared room

In [ ]:
counts_by_date = {}
for fname in dfiles:
    df = pd.read_json("data/json_files_by_date/" + fname)
    
    new_dict = {}
    for var in cat_variables:
        for idx,item in enumerate(sorted(all_var_values[var])):
            new_dict[var+str(idx)] = len(df[df[var] == item])

    new_dict["total"] = len(df)
    new_dict["price0"]  = len(df[df["price"] < 50])
    new_dict["price1"] = len(df[df["price"] >= 50][df["price"] < 100])
    new_dict["price2"] = len(df[df["price"] >= 100][df["price"] < 150])
    new_dict["price3"] = len(df[df["price"] >= 150][df["price"] < 200])
    new_dict["price4"] = len(df[df["price"] >= 200][df["price"] < 300])
    new_dict["price5"] = len(df[df["price"] >= 300])
    
    date = fname.split(".")[0]
    counts_by_date[date] = new_dict

/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [21]:
counts_by_date

{'2015-01-01': {'illegal': {},
  'illegal0': 15227,
  'illegal1': 24326,
  'price0': 3160,
  'price1': 13923,
  'price2': 8609,
  'price3': 6240,
  'price4': 4745,
  'price5': 2876,
  'room_type': {},
  'room_type0': 20306,
  'room_type1': 17885,
  'room_type2': 1362,
  'total': 39553},
 '2015-03-01': {'illegal': {},
  'illegal0': 8863,
  'illegal1': 18238,
  'price0': 1224,
  'price1': 8307,
  'price2': 6174,
  'price3': 5108,
  'price4': 3941,
  'price5': 2347,
  'room_type': {},
  'room_type0': 15496,
  'room_type1': 10792,
  'room_type2': 813,
  'total': 27101},
 '2015-04-01': {'illegal': {},
  'illegal0': 9075,
  'illegal1': 18336,
  'price0': 1237,
  'price1': 8270,
  'price2': 6156,
  'price3': 5303,
  'price4': 4043,
  'price5': 2402,
  'room_type': {},
  'room_type0': 15551,
  'room_type1': 11007,
  'room_type2': 853,
  'total': 27411},
 '2015-05-01': {'illegal': {},
  'illegal0': 9168,
  'illegal1': 18151,
  'price0': 1063,
  'price1': 8236,
  'price2': 6095,
  'price3': 5325,
  'price4': 4173,
  'price5': 2427,
  'room_type': {},
  'room_type0': 15485,
  'room_type1': 11108,
  'room_type2': 726,
  'total': 27319},
 '2015-06-01': {'illegal': {},
  'illegal0': 9153,
  'illegal1': 18316,
  'price0': 936,
  'price1': 8202,
  'price2': 6163,
  'price3': 5403,
  'price4': 4327,
  'price5': 2438,
  'room_type': {},
  'room_type0': 15700,
  'room_type1': 11116,
  'room_type2': 653,
  'total': 27469},
 '2015-08-01': {'illegal': {},
  'illegal0': 10630,
  'illegal1': 19897,
  'price0': 1263,
  'price1': 9627,
  'price2': 6912,
  'price3': 5819,
  'price4': 4419,
  'price5': 2487,
  'room_type': {},
  'room_type0': 17128,
  'room_type1': 12589,
  'room_type2': 810,
  'total': 30527},
 '2015-09-01': {'illegal': {},
  'illegal0': 10722,
  'illegal1': 19761,
  'price0': 1307,
  'price1': 9606,
  'price2': 6860,
  'price3': 5688,
  'price4': 4513,
  'price5': 2509,
  'room_type': {},
  'room_type0': 17026,
  'room_type1': 12611,
  'room_type2': 846,
  'total': 30483},
 '2015-10-01': {'illegal': {},
  'illegal0': 10694,
  'illegal1': 19554,
  'price0': 1297,
  'price1': 9364,
  'price2': 6673,
  'price3': 5603,
  'price4': 4697,
  'price5': 2614,
  'room_type': {},
  'room_type0': 16937,
  'room_type1': 12429,
  'room_type2': 882,
  'total': 30248},
 '2015-11-01': {'illegal': {},
  'illegal0': 11112,
  'illegal1': 20828,
  'price0': 1415,
  'price1': 9919,
  'price2': 6995,
  'price3': 5975,
  'price4': 4885,
  'price5': 2751,
  'room_type': {},
  'room_type0': 17898,
  'room_type1': 13093,
  'room_type2': 949,
  'total': 31940},
 '2015-11-20': {'illegal': {},
  'illegal0': 11723,
  'illegal1': 21031,
  'price0': 1690,
  'price1': 10580,
  'price2': 7190,
  'price3': 5965,
  'price4': 4712,
  'price5': 2617,
  'room_type': {},
  'room_type0': 17780,
  'room_type1': 14003,
  'room_type2': 971,
  'total': 32754},
 '2015-12-02': {'illegal': {},
  'illegal0': 12231,
  'illegal1': 22145,
  'price0': 1961,
  'price1': 11070,
  'price2': 7569,
  'price3': 6124,
  'price4': 4989,
  'price5': 2663,
  'room_type': {},
  'room_type0': 18786,
  'room_type1': 14570,
  'room_type2': 1020,
  'total': 34376},
 '2016-01-01': {'illegal': {},
  'illegal0': 13407,
  'illegal1': 22776,
  'price0': 2493,
  'price1': 12041,
  'price2': 7960,
  'price3': 6200,
  'price4': 4845,
  'price5': 2644,
  'room_type': {},
  'room_type0': 19662,
  'room_type1': 15404,
  'room_type2': 1117,
  'total': 36183},
 '2016-02-02': {'illegal': {},
  'illegal0': 13825,
  'illegal1': 22132,
  'price0': 2841,
  'price1': 12303,
  'price2': 7849,
  'price3': 5856,
  'price4': 4520,
  'price5': 2588,
  'room_type': {},
  'room_type0': 19267,
  'room_type1': 15576,
  'room_type2': 1114,
  'total': 35957},
 '2016-04-03': {'illegal': {},
  'illegal0': 13166,
  'illegal1': 19664,
  'price0': 2601,
  'price1': 11389,
  'price2': 7122,
  'price3': 5340,
  'price4': 4054,
  'price5': 2324,
  'room_type': {},
  'room_type0': 17158,
  'room_type1': 14581,
  'room_type2': 1091,
  'total': 32830},
 '2016-05-02': {'illegal': {},
  'illegal0': 12319,
  'illegal1': 20256,
  'price0': 2483,
  'price1': 11241,
  'price2': 7127,
  'price3': 5311,
  'price4': 4060,
  'price5': 2353,
  'room_type': {},
  'room_type0': 17073,
  'room_type1': 14456,
  'room_type2': 1046,
  'total': 32575},
 '2016-06-02': {'illegal': {},
  'illegal0': 13705,
  'illegal1': 22903,
  'price0': 2783,
  'price1': 12732,
  'price2': 8004,
  'price3': 5908,
  'price4': 4512,
  'price5': 2669,
  'room_type': {},
  'room_type0': 19072,
  'room_type1': 16442,
  'room_type2': 1094,
  'total': 36608},
 '2016-07-02': {'illegal': {},
  'illegal0': 14570,
  'illegal1': 24240,
  'price0': 3039,
  'price1': 13797,
  'price2': 8398,
  'price3': 6239,
  'price4': 4617,
  'price5': 2720,
  'room_type': {},
  'room_type0': 19994,
  'room_type1': 17589,
  'room_type2': 1227,
  'total': 38810},
 '2016-10-01': {'illegal': {},
  'illegal0': 15227,
  'illegal1': 24326,
  'price0': 3160,
  'price1': 13923,
  'price2': 8609,
  'price3': 6240,
  'price4': 4745,
  'price5': 2876,
  'room_type': {},
  'room_type0': 20306,
  'room_type1': 17885,
  'room_type2': 1362,
  'total': 39553}}

In [148]:
import json
with open('category_counts.json', 'w') as fp:
    json.dump(counts_by_date, fp)

In [150]:
counts_by_date['2015-01-01']

{'illegal': {0: 15227, 1: 24326},
 'price': {0: 3160, 1: 13923, 2: 8609, 3: 6240, 4: 4745, 5: 2876},
 'room_type': {u'Entire home/apt': 20306,
  u'Private room': 17885,
  u'Shared room': 1362},
 'total': 39553}

In [128]:
for fname in dfiles:
    df = pd.read_json("data/json_files_by_date/" + fname)
    new_dict["price0"] = len(df[df["price"] < 50])
    new_dict["price1"] = len(df[df["price"] >= 50][df["price"] < 100])
    new_dict["price2"] = len(df[df["price"] >= 100][df["price"] < 150])
    new_dict["price3"] = len(df[df["price"] >= 150][df["price"] < 200])
    new_dict["price4"] = len(df[df["price"] >= 200][df["price"] < 300])
    new_dict["price5"] = len(df[df["price"] >= 300])
    
    for key in sorted(new_dict["price"].keys()):
        print key, new_dict["price"][key]/float(len(df))

/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda/envs/tensorflow/lib/python2.7/site-packages/ipykernel/__main__.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

0 0.0798928020631
1 0.352008697191
2 0.217657320557
3 0.157763001542
4 0.119965615756
5 0.0727125628903
0 0.045164385078
1 0.306520054611
2 0.227814471791
3 0.188480129885
4 0.145418988229
5 0.086601970407
0 0.045127868374
1 0.301703695597
2 0.224581372442
3 0.193462478567
4 0.147495530991
5 0.0876290540294
0 0.0389106482668
1 0.301475163805
2 0.223104798858
3 0.194919286943
4 0.152750832754
5 0.088839269373
0 0.0340747752011
1 0.298591139102
2 0.224362008082
3 0.196694455568
4 0.157523025957
5 0.0887545960901
0 0.0413732106005
1 0.315360172962
2 0.22642251122
3 0.190618141318
4 0.144757100272
5 0.0814688636289
0 0.0428763573139
1 0.315126463931
2 0.22504346685
3 0.186595807499
4 0.148049732638
5 0.0823081717679
0 0.0428788680243
1 0.309574186723
2 0.220609627083
3 0.185235387464
4 0.155282993917
5 0.0864189367892
0 0.0443018159048
1 0.310551033187
2 0.219004383219
3 0.187069505322
4 0.152943018159
5 0.0861302442079
0 0.0515967515418
1 0.323013983025
2 0.219515173719
3 0.182115161507
4 0.143860291873
5 0.0798986383342
0 0.0570456132185
1 0.322026995578
2 0.220182685595
3 0.178147544799
4 0.145130323481
5 0.0774668373284
0 0.0688997595556
1 0.332780587569
2 0.219992814305
3 0.171351187022
4 0.133902661471
5 0.0730729900782
0 0.0790110409656
1 0.342158689546
2 0.218288511277
3 0.162861195317
4 0.125705704035
5 0.0719748588592
0 0.0792263173926
1 0.346908315565
2 0.216935729516
3 0.162656107219
4 0.123484617728
5 0.07078891258
0 0.0762240982348
1 0.345080583269
2 0.218787413661
3 0.163039140445
4 0.124635456639
5 0.0722333077513
0 0.0760216346154
1 0.347792832168
2 0.218640734266
3 0.16138548951
4 0.123251748252
5 0.0729075611888
0 0.0783045606802
1 0.355501159495
2 0.216387528987
3 0.160757536717
4 0.118964184489
5 0.0700850296315
0 0.0798928020631
1 0.352008697191
2 0.217657320557
3 0.157763001542
4 0.119965615756
5 0.0727125628903

0-50        4-8%
50-100      30-35%
100-150     20-22%
150-200     15-20%
200-250     7-10%
250-300     4-6%
300-350     2-3%     
350+        4-8%

In [123]:
for key in sorted(new_dict["price"].keys()):
    print key, new_dict["price"][key]

350 1701
(0, 50) 1224
(50, 100) 8307
(100, 150) 6174
(150, 200) 5108
(200, 250) 2426
(250, 300) 1515
(300, 350) 646

In [120]:
new_dict["price"][0,50]

1224

In [101]:
new_dict

{'illegal': {0: 8863, 1: 18238},
 'room_type': {u'Entire home/apt': 15496,
  u'Private room': 10792,
  u'Shared room': 813}}